{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

    <h2><?= $title ?></h2>

<!-- Welcoming statement -->
<p>Welcome to the experimental Shotokan Scholar website. This website is the result of the accumulation of research and
    training notes about over the past few years, and as such represents many levels of condensation, expansion, and
    development. My current objective is to put up as much as possible while remaining accurate and giving credit where
    it's due, and all the cosmetic bells and whistles can come after. The ultimate plan is to make a one-stop shop for
    everything karate and related to karate. Shouldn't be too hard, right?
</p>

<p><a href="{{ url_for('main.faq') }}">What is karate?</a> <i>Answers to common questions.</i></p>

<h3>Goals</h3>
<p>What this site tries to achieve: a collection of historical and technical information on Shotokan karate, as well as the
    fostering of communication within the Shotokan karate community. Provide quality infomation for the serious Shotokan karateka:</p>
<ul>
    <li>Technical</li>
    <li>Historical</li>
    <li>Organizational</li>
    <li>Centralized, more comprehensive than any other existing site</li>
</ul>

    {% if form %}
        {{ wtf.quick_form(form) }}<br>
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}{% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <!--aria-hidden="true" removes that element and all of its
                    children from the accessibility tree.-->
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}