{% extends "base.html" %}

{% block app_content %}

<h1>{{ title }}</h1>

<p>A listing of dojos.</p>

<input type="search" class="light-table-filter" data-table="dojo" placeholder="Filter"><br><br>

<table class="dojo table table-hover">
{% for d in dojos %}
    <tr><td>
        <strong>
            <!-- org -->
            {% if d.org.id %}
                <a href="{{ url_for('library.org', id=d.org.id) }}">
                    {{ d.org.acronym }}</a>{% endif %}

            <!-- dojo URL, name, HQ -->
            {% if d.siteURL %}<a href="{{ d.siteURL }}" target="_blank">{% endif %}
                {{ d.name }}
                {% if d.isCountryHQ == 1 %} (HQ) {% endif %}
            {% if d.siteURL %}</a>{% endif %}<br>
        </strong>

        {% if d.head_instructor.id %}
            Main instructor:
            {% if not d.head_instructor.person_hide %}
                <a href="{{ url_for('library.person', id=d.head_instructor.id) }}">{% endif %}
                {{ d.head_instructor.firstName }} {{ d.head_instructor.lastName }}
            {% if not d.head_instructor.person_hide %}</a>{% endif %}<br>
        {% endif %}

        {% set address = [
            d.street, d.city,
            d.state.name if d.state.name != d.city else None, d.zip,
            d.state.country.ISO3] | join(', ' | safe) %}
        {% set address = address.replace('None, ', '') %}

        <span class="row">
            <span class="col-1 oi oi-map-marker" title="Address"></span>
            <span class="col-11-sm">
                {% if d.mapURL %}
                    <a class="modal_map_trigger modal_custom_trigger" href='#' data-toggle="modal" data-target="#modal_map"
                   data-map-id="{{ d.mapURL }}">{% endif %}
                {{ address }}
                {% if d.mapURL %}</a>{% endif %}
            </span>
        </span>

        {% if address %}
            <!-- Modal -->
            <div id="modal_map" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mapLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="modal_map_body" class="modal-body">
                            <iframe width="375" height="281" frameborder="0" style="border:0"
                                    src="" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if d.email %}
            <span class="row">
                <span class="col-1 oi oi-envelope-closed" title="Email"></span>
                <span class="col-11-sm">{{ d.email }}</span><br>
            </span>
        {% endif %}

        {% if d.phone %}
            <span class="row">
                <span class="col-1 oi oi-phone" title="Phone"></span>
                <span class="col-11-sm">{{ d.phone }}</span>
            </span>
        {% endif %}

        {% if d.fax %}
            <span class="row">
                <span class="col-1 oi oi-print" title="Fax"></span>
                <span class="col-11-sm">{{ d.fax }}</span>
            </span>
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

<!--// # tifa NV conversion: 50 shards, 4 pearls; tifa ex+3: 100 shards, 3 ascension, 1 transcension-->
<!--// needed: 50 shards-->
<!--// exchange shop tickets: 6 total -> 1 cloud, 5 tifa? so 180 brave insignia needed for cloud-->
<!--// hoard for elena/yoshikiri and faisy-->
<!--// get cloud (AC) prism from select summon -> SMTR -> Tifa with cloud AC sword and cloud vision card-->
